* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

a {
  text-decoration: none;
}

.headline {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.headline :first-child {
  margin-right: auto;
}

.logo {
  height: 70px;
}

.nav-list {
  list-style: none;
  display: flex;
  line-height: 70px;
}

.nav-list-item {
  padding: 0 30px;
  color: #fafafa;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  padding-top: 200px;
}

.main-visual-title {
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
}

main {
  width: 100%;
  padding: 0 auto;
  text-align: center;
}

.main-content {
  background-color: #eceff1;
}

.item-portfolio {
  width: 920px;
  margin: 0 auto;
}

.item-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.item-solid {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}

.item-text {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
}

.boxes {
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}
.box3 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}
.box4 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}
.box5 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.box6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

.main-contetnt2 {
  width: 100%;
}

.item-feature {
  width: 980px;
  margin: 0 auto;
}

.strength {
  width: 980px;
  display: flex;
  margin: 30px auto 90px;
}

.strength-item {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.strength-item :last-child {
  margin: 0;
  color: #000000;
}

.feature-size {
  font-size: 60px;
  color: #000000;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
}

.item-profile {
  width: 1024px;
  margin: 0 auto;
}

.my-profile {
  width: 1024px;
  display: flex;
  margin-top: 30px;
  padding-bottom: 90px;
}

.profile-left {
  width: 512px;
}

.my-icon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
}

.profile-right {
  width: 512px;
  text-align: left;
}

.profile-title {
  color: #000000;
  margin-bottom: 5px;
  font-size: 20px;
}

.profile-text {
  color: #000000;
  margin-bottom: 20px;
  font-size: 16px;
}

.item-contact {
  width: 800px;
  margin: 0 auto;
}

.contact {
  width: 800px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 90px;
}

.contact-left {
  width: 400px;
  display: inline-block;
}

.contact-title {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
  display: table;
  margin: 0 auto;
}

.contact-detail {
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
  display: table;
  margin: 0 auto;
}

.contact-right {
  width: 400px;
  margin: 0 auto;
}

.contact-icon {
  margin-top: 5px;
}

.contact-size {
  font-size: 50px;
  color: #000000;
}

.contact-icon :nth-child(2) {
  padding: 0 20px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.footer-text {
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  * {
    margin: 0 auto;
  }

  header {
    width: 90%;
  }

  .headline {
    width: 90%;
  }

  .main-visual {
    width: 90%;
  }

  main {
    width: 90%;
  }

  .item-portfolio {
    width: 90%;
  }

  .item-title {
    width: 90%;
    margin: 0 auto;
  }

  .boxes {
    width: 90%;
    display: block;
  }

  .box1,
  .box3,
  .box5 {
    display: none;
  }

  .box2,
  .box4,
  .box6 {
    width: 90%;
    margin: 0 auto 10px;
  }

  .main-content2 {
    width: 90%;
  }

  .item-feature {
    width: 90%;
  }

  .strength {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .strength-item {
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .item-profile {
    width: 90%;
  }

  .my-profile {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .profile-title {
    text-align: center;
  }

  .profile-text {
    text-align: center;
  }
}
