* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

a {
  text-decoration: none;
}

.headline {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.headline :first-child {
  margin-right: auto;
}

.logo {
  height: 70px;
}

.nav-list {
  list-style: none;
  display: flex;
  line-height: 70px;
}

.nav-list-item {
  padding: 0 30px;
  color: #fafafa;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  padding-top: 200px;
}

.main-visual-title {
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
}

main {
  width: 100%;
  padding: 0 auto;
  text-align: center;
}

.main-content {
  background-color: #eceff1;
}

.item {
  width: 920px;
  margin: 0 auto;
}

.item-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.item-solid {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}

.item-text {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
}

.boxes {
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}
.box3 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}
.box4 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}
.box5 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.box6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}
